.navbar-links {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-size: 2.5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  margin-top: 2vh;
  padding-bottom: 2vh;
  border-bottom: 2px solid black;
}
a {
  text-decoration: none;
  color: black;
}
@media screen and (max-width: 720px) {
  .navbar-links {
    font-size: 2.5vh;
  }
}
