.main {
  font-family: "Poppins", sans-serif;
  width: 100vw;
  height: 100vh;
}

.welcomePageVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: visible;
}

.name {
  width: 60vw;
  height: 60vh;
  padding-bottom: 10%;
  overflow: visible;
}

.enter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.welcome {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 3.5vw;

  color: gold;
}

.enterLink {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  text-decoration: none;
  font-size: 1.5vw;
  color: white;
}

@media screen and (max-width: 720px) {
  .name {
    width: 70vw;
    height: 70vh;
  }

  .welcome {
    font-size: 4.5vw;
  }

  .enterLink {
    font-size: 2.5vw;
  }
}
